/* karla-regular - latin */
@font-face {
  font-family: 'Karla';
  font-style: normal;
  font-weight: 400;
  src: url('fonts/karla-v6-latin-regular.eot'); /* IE9 Compat Modes */
  src: local('Karla'), local('Karla-Regular'),
       url('fonts/karla-v6-latin-regular.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
       url('fonts/karla-v6-latin-regular.woff2') format('woff2'), /* Super Modern Browsers */
       url('fonts/karla-v6-latin-regular.woff') format('woff'), /* Modern Browsers */
       url('fonts/karla-v6-latin-regular.ttf') format('truetype'), /* Safari, Android, iOS */
       url('fonts/karla-v6-latin-regular.svg#Karla') format('svg'); /* Legacy iOS */
}
/* karla-italic - latin */
@font-face {
  font-family: 'Karla';
  font-style: italic;
  font-weight: 400;
  src: url('fonts/karla-v6-latin-italic.eot'); /* IE9 Compat Modes */
  src: local('Karla Italic'), local('Karla-Italic'),
       url('fonts/karla-v6-latin-italic.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
       url('fonts/karla-v6-latin-italic.woff2') format('woff2'), /* Super Modern Browsers */
       url('fonts/karla-v6-latin-italic.woff') format('woff'), /* Modern Browsers */
       url('fonts/karla-v6-latin-italic.ttf') format('truetype'), /* Safari, Android, iOS */
       url('fonts/karla-v6-latin-italic.svg#Karla') format('svg'); /* Legacy iOS */
}
/* karla-700 - latin */
@font-face {
  font-family: 'Karla';
  font-style: normal;
  font-weight: 700;
  src: url('fonts/karla-v6-latin-700.eot'); /* IE9 Compat Modes */
  src: local('Karla Bold'), local('Karla-Bold'),
       url('fonts/karla-v6-latin-700.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
       url('fonts/karla-v6-latin-700.woff2') format('woff2'), /* Super Modern Browsers */
       url('fonts/karla-v6-latin-700.woff') format('woff'), /* Modern Browsers */
       url('fonts/karla-v6-latin-700.ttf') format('truetype'), /* Safari, Android, iOS */
       url('fonts/karla-v6-latin-700.svg#Karla') format('svg'); /* Legacy iOS */
}

/* roboto-regular - latin */
@font-face {
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 400;
  src: url('fonts/roboto-v18-latin-regular.eot'); /* IE9 Compat Modes */
  src: local('Roboto'), local('Roboto-Regular'),
       url('fonts/roboto-v18-latin-regular.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
       url('fonts/roboto-v18-latin-regular.woff2') format('woff2'), /* Super Modern Browsers */
       url('fonts/roboto-v18-latin-regular.woff') format('woff'), /* Modern Browsers */
       url('fonts/roboto-v18-latin-regular.ttf') format('truetype'), /* Safari, Android, iOS */
       url('fonts/roboto-v18-latin-regular.svg#Roboto') format('svg'); /* Legacy iOS */
}
/* roboto-700 - latin */
@font-face {
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 700;
  src: url('fonts/roboto-v18-latin-700.eot'); /* IE9 Compat Modes */
  src: local('Roboto Bold'), local('Roboto-Bold'),
       url('fonts/roboto-v18-latin-700.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
       url('fonts/roboto-v18-latin-700.woff2') format('woff2'), /* Super Modern Browsers */
       url('fonts/roboto-v18-latin-700.woff') format('woff'), /* Modern Browsers */
       url('fonts/roboto-v18-latin-700.ttf') format('truetype'), /* Safari, Android, iOS */
       url('fonts/roboto-v18-latin-700.svg#Roboto') format('svg'); /* Legacy iOS */
}



.ais-SearchBox-form {
  display: block;
  position: relative;
  width: 100%;
}

.ais-SearchBox-submit {
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  position: absolute;
  z-index: 1;
  width: 20px;
  height: 20px;
  top: 50%;
  right: 0.3rem;
  -webkit-transform: translateY(-50%);
  transform: translateY(-50%);
}
.ais-SearchBox-submit {
  left: 0.3rem;
}
